<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BackupPaths" value="C:\Test" />
    <add key="MinimumDaysBetweenFullBackups" value="30" />

    <add key="FtpHost" value="betzalel.homedns.org" />
    <add key="FtpPort" value="21" />
    <add key="FtpUserName" value="FtpBackup" />
    <add key="FtpPassword" value="J6tHAnUG8yEtAren" />
    <add key="RelativeFtpBackupDirectory" value="Rike" />
  </appSettings>
</configuration>
