<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BackupPaths" value="" />
    <add key="ExcludedBackupPaths" value="" />
    <add key="ExcludedFileTypes" value="" />

    <add key="FtpHost" value="" />
    <add key="FtpPort" value="" />
    <add key="FtpUserName" value="" />
    <add key="FtpPassword" value="" />
    <add key="RelativeFtpBackupDirectory" value="" />

    <add key="MinimumDaysBetweenFullBackups" value="" />
  </appSettings>
</configuration>
