<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BackupPaths" value="C:\Test" />
    <add key="ExcludedBackupPaths" value="C:\Test\ExcludeIt,C:\Test\ExcludeItToo" />
    <add key="ExcludedFileTypes" value="exe,bak" />

    <add key="FtpHost" value="ftp.example.com" />
    <add key="FtpPort" value="21" />
    <add key="FtpUserName" value="user" />
    <add key="FtpPassword" value="pass" />
    <add key="RelativeFtpBackupDirectory" value="Backup" />

    <add key="DailyBackupCompressStartTime" value="02:00:00" />
    <add key="DailyBackupStorageInterval" value="300" />
    <add key="MinimumDaysBetweenFullBackups" value="30" />
  </appSettings>
</configuration>