<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40-Client" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net40" />
  <package id="System.Net.FtpClient" version="1.0.4877.17802" targetFramework="net40" />
</packages>